<app-game-layout [title]="title" [description]="description">
  @if(!gameStarted) {
  <button (click)="start()">Play</button>
  } @else {
  <div class="match-pairs">
    @for (item of gameService.items(); track item.id) {
    <div
      class="item"
      (click)="gameService.flip($index)"
      [ngClass]="{ flipped: item.flipped }"
    >
      <div class="item-front"></div>
      <div
        class="item-back"
        [style.backgroundImage]="item.imgSrc | bgImage"
      ></div>
    </div>
    }
  </div>
  }

  @if (gameService.allSolved()) {
    <app-win-screen (playAgain)="gameService.start()"></app-win-screen>
  }
</app-game-layout>
