<main appMainLayout>
  <section class="app-colors">
    <h2>App Colors</h2>
    <ul>
      <li class="default" (click)="setPalette('#fdfadb', '#008080')">
        <h3>Default</h3>
        <span class="primary-color"></span>
        <span class="secondary-color"></span>
      </li>
      <li class="picasso-blue" (click)="setPalette('#1e90ff', '#212329')">
        <h3>Picasso's Blue</h3>
        <span class="primary-color"></span>
        <span class="secondary-color"></span>
      </li>
      <li class="picasso-pink" (click)="setPalette('#5e2e21', '#ee82ee')">
        <h3>Picasso's Pink</h3>
        <span class="primary-color"></span>
        <span class="secondary-color"></span>
      </li>
    </ul>
  </section>
</main>
