.app-colors {
  width: 17rem;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
}

h2 {
  margin-top: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid;
  h3 {
    margin: 0;
    font-size: 1rem;
    margin-right: auto;
  }
  span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

}


.default {
  border-color: #008080;

  span.primary-color {
    background-color: #fdfadb;
  }

  span.secondary-color {
    background-color: #008080;
  }

  &:hover {
    background-color: #aae7e7;
  }
}

.picasso-blue {
  border-color: #212329;
  &:hover {
    background-color: #c8e3ff;
  }
  span.primary-color {
    background-color: #1e90ff;
  }
  span.secondary-color {
    background-color: #212329;
  }
}

.picasso-pink {
  border-color: #ee82ee;

  span.primary-color {
    background-color: #5e2e21;
  }

  span.secondary-color {
    background-color: #ee82ee;
  }

  &:hover {
    background-color: #e6c7e6;
  }
}
